html,
body {
  height: 100%;
}

body {
  text-align: center;
  background-image: url("../images/beachscenic.JPG");
  background-size: 250%;
}

#wrapper {
  margin: auto;
  background-color: rgba(255,255,255,0.1);
  width: 50%;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 20px;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}

#wrapper h1 {
  margin-top: 20px;
  font-size: 30px;
  font-family: 'Tajawal', sans-serif;
}

#wrapper h3 {
  font-size: 20px;
  font-family: 'Tajawal', sans-serif;
  margin-top: 10px;
}

#wrapper button {
  font-family: 'Tajawal', sans-serif;
  font-size: 40px;
  margin-top: 20px;
  border-radius: 10px;
  background: none;
  border-style: none;
  color: yellow;
}

#sub-wrapper {
  font-family: 'Tajawl', sans-serif;
  color: red;
  opacity: 0.8;
  margin-top: 10px;
}

#quiz-area {
  width: 100%;
  font-family: 'Tajawal', sans-serif;
  color: white;
  margin-top: 10px;
}

#quiz-area h2 {
  font-weight: 1000;
  font-style: italic;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#quiz-area p {
  color: red;
}

#done h1 {
  color: #66FF00;
  margin-top: 5px;
  text-align: center;
}
